[Desktop Entry]
Version=1.0
Type=Link
Name=python privilege escalation script - Google Search
Comment=
Icon=user-bookmarks
URL=https://www.google.com/search?q=python+privilege+escalation+script&client=firefox-b-d&sca_esv=600207301&ei=je-sZan0LIGkkdUP27S76AQ&oq=python+privle&gs_lp=Egxnd3Mtd2l6LXNlcnAiDXB5dGhvbiBwcml2bGUqAggCMgcQABiABBgNMgcQABiABBgNMgcQABiABBgNMgYQABgeGA0yBhAAGB4YDTIKEAAYBRgeGA0YDzIIEAAYCBgeGA0yCBAAGAgYHhgNMggQABgIGB4YDTIIEAAYCBgeGA1I80FQ_Q5YlSdwA3gBkAEBmAGrAqABkAqqAQUwLjIuNLgBA8gBAPgBAcICChAAGEcY1gQYsAPCAgsQABiABBiKBRiRAsICBRAAGIAE4gMEGAAgQYgGAZAGCA&sclient=gws-wiz-serp
